<tr>
	<td><a href="http://10.1.1.246/production/tracking.php?action=load&ProductionID=<%= job.id %>"><%= job.title %></a></td>
	<td><%= job.ratio_subtitle %></td>
	<td><%= job.ratio_translation %></td>
	<td><%= job.ratio_proof_reading %></td>
	<td><%= job.ratio_quality_assurance %></td>
	<td><%= job.ratio_other %></td>
	<td><%= job.ratio_total %></td>
</tr>