<p><a href="http://10.1.1.246/production/tracking.php?action=load&ProductionID=<%= job.id %>"><%= job.title %></a>
    <%= output_ratio(job.stats["sub_minutes"], job.stats["r_length"]) %> 
	Total sub minutes: <%= job.stats["sub_minutes"]%>
	Run length: <%= job.stats["r_length"]%></p>