<tr>
	<td><a href="http://10.1.1.246/production/tracking.php?action=load&ProductionID=<%= job.id %>"><%= job.title %></a></td>
	<% @stats = job.statistics %>
	<td><%= @stats[:ratio_subtitle] %></td>
	<td><%= @stats[:ratio_translation] %></td>
	<td><%= @stats[:ratio_proof_reading] %></td>
	<td><%= @stats[:ratio_quality_assurance] %></td>
	<td><%= @stats[:ratio_other] %></td>
</tr>