<% unless @jobs.empty? %>
	<div id="total_stats_details">
		<p>Jobs in scope: <%= @jobs.length %></p>
		<p>Total Run Length: <%= total_minutes(@jobs) %></p>
		<p>Total Work: <%= average_ratio_subtitles(@jobs) %></p>
		<p>Ratio Total: <%= average_ratio_total(@jobs) %>
	</div>
<% else %>
	<p>No matching jobs</p>
<% end %>

<div id='chart_scatter02'></div>
<%= raw @chart_scatter02.render('chart_scatter02') %>

<div id='chart'></div><%= raw @chart.render('chart') %>