<%= semantic_form_for :search, :html => { :method => :get }, :url => search_jobs_path, :remote => true do |form| %>
	<%= form.input :source,
    :as => :select, 
    :collection => @languages, 
    :required => false, 
    :label => "Source Language:", 
    :include_blank => false %>
	<%= form.input :target,
    :as => :select, 
    :collection => @languages, 
    :required => false, 
    :label => "Target Language:", 
    :include_blank => false %>
	<%= form.input :start_date,
	:required => false,
	:order => [:month, :day, :year],
	:label => "From:"%>
	<%= form.input :end_date,
	:order => [:month, :day, :year],
	:label => "End:",
	:required => false%>
	<%= form.input :client,
    :as => :select, 
    :collection => @clients, 
    :required => false, 
    :label => "Clients:", 
    :include_blank => false %>
	<%= form.input :title,
	:label => "Title:",
	:required => false %>
	<%= form.input :category,
	:as => :check_boxes,
	:collection => [["DVD", 1], ["VIDEO", 2], ["FILM", 3], ["TRANS", 4], ["LIVE", 5], ["TV", 6] ] %>
	<%= submit_tag "get stats", :name => nil  %>
<% end %>

<div id="jobs">

</div>