<h1>Subtitle Statistics</h1>
<p class="blockText">Use the fields below to refine your search criteria.<br />
The two date fields set the scope referencing the projects <strong>deadline</strong> and not the actual date when project was completed.
Statistics are only based on completed projects  as any unfinished projects would give false results.</p>
<%=  semantic_form_for :search, :html => { :method => :get, :id => "custom_search" }, :url => search_jobs_path, :remote => true do |form| %>
	<%= form.inputs do %>
	
		<%= form.input :category,
		:label => "Job Type",
		:as => :check_boxes,
		:required => false,
		:collection => [["DVD", 1], ["VIDEO", 2], ["FILM", 3], ["TV", 6] ]%>
	<% end %>
	<%= form.inputs do %>
		<%= form.input :source,
	    :as => :select,
	    :collection => @languages, 
	    :required => false, 
	    :label => "Source Language", 
	    :include_blank => false %>
		<%= form.input :target,
	    :as => :select, 
	    :collection => @languages,
	    :required => false,
	    :label => "Target Language", 
	    :include_blank => false %>
	<% end %>
	<%= form.inputs do %>
	 	<%= form.input :start_date,
		:required => false,
		:order => [:month, :day, :year],
		:label => "Date From"%>
		<%= form.input :end_date,
		:order => [:month, :day, :year],
		:label => "Date Up To",
		:required => false%>
	<% end %>
	<%= form.inputs do %>
		<%= form.input :client,
	    :as => :select,
	    :collection => @clients, 
	    :required => false, 
	    :label => "Client", 
	    :include_blank => false %>
		<%= form.input :title,
		:label => "Title",
		:as => :search, 
		:required => false %>
	<% end %>
	<%= form.buttons %>
<% end %>

<div id='subtitle_stats'></div>